## Berbascum patterns
backup-droidian-private-gpg-apt-xiaomi-vayu.tar.gz
backup-droidian-adaptation-git-repo-xiaomi-vayu.tar.gz
backup-droidian-adaptation-fresh-template-xiaomi-vayu.tar.gz
droidian-build-tools
test-dir
out-adaptation-xiaomi-vayu
build-package-with-droidian-releng.sh

## Debhelper output files
!debian/adaptation-xiaomi-vayu.dirs
!debian/adaptation-xiaomi-vayu.install
!debian/adaptation-xiaomi-vayu.links
debian/adaptation-droidian-vayu.substvars
debian/adaptation-droidian-vayu/
debian/adaptation-vayu-configs.substvars
debian/adaptation-vayu-configs/
out-adaptation-droidian-vayu/
debian/.debhelper/
debian/debhelper-build-stamp
debian/adaptation-xiaomi-vayu/
debian/adaptation-xiaomi-vayu-configs/
debian/adaptation-xiaomi-vayu.substvars
debian/adaptation-xiaomi-vayu-configs.substvars
debian/adaptation-vayu-configs.debhelper.log
debian/adaptation-vayu-configs.postrm.debhelper
debian/files

