[Unit]
Description=Fix delayed rmnet connection after sim is unlocked
Requires=lxc@android.service
After=phosh.service

[Service]
Type=oneshot
ExecStart=/usr/bin/droidian-adapt-fix-rmnet-con-delayed.sh 

RemainAfterExit=True

[Install]
WantedBy=multi-user.target
