[Unit]
Description=single-sim auto selection for qcom xiaomi vayu
After=ModemManager.service
Wants=ModemManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/droidian-adapt-twk-ofono-qcom-single-sim-auto-selector.sh
#RemainAfterExit=yes

[Install]
WantedBy=graphical.target
