[Unit]
Description=Hides glib errors from stdout when appstreamcli refresh is called bt apt
Requires=lxc@android.service
After=network.target
Before=graphical.target

[Service]
Type=oneshot
Environment=LAUNCHED_BY_SYSTEMD=1
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/droidian-adapt-fix-appstreamcli-apt-glib-stdout.sh
RemainAfterExit=True

[Install]
WantedBy=multi-user.target
