[Unit]
Description=Script run after multi-user.target
Requires=lxc@android.service

[Service]
Type=oneshot
Environment=LAUNCHED_BY_SYSTEMD=1
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/vayu-postboot.sh

[Install]
WantedBy=multi-user.target
