[Unit]
Description=Hacks that have to be applied on boot for vayu
Requires=lxc@android.service

[Service]
Type=oneshot
Environment=LAUNCHED_BY_SYSTEMD=1
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/vayu-postboot.sh

[Install]
WantedBy=multi-user.target
