Source: adaptation-xiaomi-vayu
Maintainer: vacuumbeef
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10),
	       debhelper-compat (= 13),
Standards-Version: 4.5.0.3

Package: adaptation-xiaomi-vayu
Architecture: arm64
Depends: ${misc:Depends},
         adaptation-hybris-api30-phone,
         adaptation-xiaomi-vayu-configs,
	 linux-bootimage-4.14-190-xiaomi-vayu,
	 linux-image-4.14-190-xiaomi-vayu,
	 linux-headers-4.14-190-xiaomi-vayu,
         inotify-tools,
         dconf-editor,
	 less,
	 vim,
	 neovim,
         tilix,
         fcitx,
         haruna,
         mpv,
	 wl-clipboard,
         python3-pyclipper,
	 git,
	 curl,
	 wget,
	 usbutils,
	 yubikey-luks,
         seahorse,
	 man,
	 manpages,
	 cpulimit,
	 htop,
	 ofono-binder-plugin,
         ofono-configs-binder-common,
         droidian-camera,
         gstreamer1.0-tools,
         mobile-power-saver,
         fpd-unlock,
	 phosh-osk-stub,
         mobile-settings,
	 gnome-tweaks,
         droidian-restart-services-gtk3,
Conflicts: adaptation-droidian-vayu,
           adaptation-vayu-configs,
Breaks: adaptation-droidian-vayu,
        adaptation-vayu-configs,
Description: Community adaptation for xiaomi vayu api30 - metapackage

Package: adaptation-xiaomi-vayu-configs
Architecture: arm64
Depends: ${misc:Depends},
Description: Droidian adaptation for Xiaomi Pocophone X3 Pro vayu api30 - adaptation configurations
